@import url('https://fonts.googleapis.com/css2?family=Borel&family=Josefin+Sans:wght@200&family=Open+Sans&family=Playfair+Display:wght@400;500;700&family=Ubuntu:ital,wght@1,500&display=swap');
/* saad */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Josefin+Sans:wght@200&family=Open+Sans&family=Playfair+Display:wght@400;500;700&family=Ubuntu:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
body{
    color: rgb(93, 99, 26);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(93, 99, 26);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Great Vibes', cursive;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #e6f182;
    
}
.home{
    position: relative;
    width: 100%;
    /* display: flex; */
    justify-content: space-around;
    height: 100vh;
    background-color: #e6f182;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 70px 10% 0;

    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.home-content{
    max-width: 600px;
}

.home-content h2{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p{
    font-size: 20px;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(93, 99, 26);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 25px 17px 25px;
    margin-left: 1px;

}
.home-sci a hw{
    color: green;
}
.home-sci a:hover{
    background: white;
    color: rgb(93, 99, 26);
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    color: white;
    background:  rgb(93, 99, 26);
    letter-spacing: 1px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600
}
.btn-box:hover{
    box-shadow: 0 0 5px rgb(93, 99, 26),
    /* 0 0 5px white, 0 0 5px white, */
    0 0 10px rgb(93, 99, 26),0 0 20px rgb(93, 99, 26)
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
    margin-top: 100px;
    margin-right: 3px;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    width: 460px;
    margin-left: 30px;
    margin-top: 126px;
    height: auto;
    border-radius: 5px;
}
.about-text h1{
    font-size: 60px;
}
.about-text p{
    margin-top: 10px;
    margin-right: 40px;
    line-height: 1.4;

}
@keyframes slideRight{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
#services{
    color: rgb(93, 99, 26);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 70px;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: rgb(93, 99, 26);
}
.container{
    padding: 90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: #e6f182;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
    box-shadow: 1px 1px 20px rgb(93, 99, 26);
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 500;
}
.services-list div a{
    text-decoration: none;
    color: rgb(2, 1, 2);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.bx-crop .read{
    display: inline-block;
    padding: 12px 20px;
    border-radius: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
}
.read:hover{
    box-shadow: 0 0 5px rgb(255, 255, 255)
    0 0 10px rgb(255, 255, 255),0 0 20px rgb(255, 255, 255)
}
.services-list div:hover{
    transform: translateY(-10px);
}
/* SKILL PAGE */
.skills{
    padding: 5rem 0 2.5rem 0;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 40px;
}
.skills > .text{
    width: 70%;
    font-size: 20px;
    margin: 1.5rem auto;
    text-align: center;  
}
.skills .row{
    margin: 1rem 0;
}
.skills .item{
    padding: 0.5rem 0;
    margin: 0.3rem 0;
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 16px;
}
.skills .item-text{
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
}
.skills .item-text span:last-child{
    position: absolute;
}
.skills .item-text .w-80{
    margin-left: 80%;
}
.skills .item-text .w-75{
    margin-left: 75%;
}
.skills .item-text .w-70{
    margin-left: 70%;
}
.progress{
    margin: 0.8rem 0;
    border-radius: 10px;
    height: 16px;
    width: 100%;
    background-color: #e6f182;
    overflow: hidden;
}
.progress-bar{
    background: rgb(93, 99, 26);
    /* background: var(--green); */
    height: 100%;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.progress-bar.w-80{
    width: 80%;
}
.progress-bar.w-75{
    width: 75%;
}
.progress-bar.w-70{
    width: 70%;
}
.skills .row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 45px;
}
@media (max-height:800px) {
    footer{
        position: static;
    }
    header{
        padding-top: 40px;
    }
    
}
.footer-distributed{
    background-color: #e6f182;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font: 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
    color: rgb(93, 99, 26);
    height: 90vh;

}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}
.footer-distributed .footer-left{
    width: 30%;
}
.footer-distributed h3{
    color: rgb(93, 99, 26);
    font-family: 'Great Vibes', cursive;
    margin: 0;
}
.footer-distributed h3 span{
    color: rgb(93, 99, 26);
}
.footer-distributed .footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-company-name{
    color: rgb(93, 99, 26);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .footer-center i{
    background-color: white;
    /* color: blueviolet; */
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p{
    display: inline-block;
    color: rgb(93, 99, 26);
    vertical-align: middle;
    margin: 0;
}
.footer-distributed .footer-center p span{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.footer-distributed .footer-center p a{
    color: rgb(93, 99, 26);
    text-decoration: none;
}
.footer-distributed .footer-right{
    width: 30%;
    margin-top: -140px;
    margin-left: 500px;
}
.footer-distributed .footer-company-about{
    line-height: 20px;
    color: rgb(93, 99, 26);
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span{
    display: block;
    color: blueviolet;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-icons{
    margin-top: 25px;
}
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    margin-right: 25px;
    margin-bottom: 25px;

}
@media(max-widht: 990px){
    .footer-distributed .footer-links, .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}